body {
  margin: 0;
  padding: 0;
  border-top: 3px solid #165fae;
  font-size: 14px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  color: #444;
}

h1, h2, p {
  margin: 0;
}

a {
  color: #165fae;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
}

table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-spacing: 0;
}

table th,
table td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

table th {
  background-color: #eee;
}

#wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 60px 0;
}

#header {
  padding: 0 0 10px;
  border-bottom: 1px solid #ddd;
}

#content {
  padding: 15px 0 50px;
}

#content h2 {
  padding: 20px 0 10px;
  font-size: 16px;
}

#content ul {
  line-height: 1.5;
}

#footer {
  border-top: 1px solid #ddd;
  font-size: 12px;
  padding: 5px 0 0;
}

.date {
  color: #aaa;
  font-size: 12px;
}

#faq {
  padding: 30px 80px;
}

#faq h1 {
  margin: 20px 0;
  border-bottom: 1px solid #ddd;
}

#faq #note {
  margin: 0;
  margin-bottom: 40px;
  padding: 10px 20px;
  border: 1px solid #c99;
  border-radius: 4px;
  color: #800;
  background-color: #fff5f5;
  font-size: 13px;
}

#faq h3 {
  margin: 30px 0 0;
}

#faq p {
  margin: 10px 0;
}

#faq #header {
  border-bottom: none;
}

#faq #toc {
  padding: 10px 0 40px;
  line-height: 1.6;
}

#faq .section {
  padding: 0 0 40px;
}
